.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
}

.index-page .page-header, .presentation-page .page-header {
    height: 90vh;
    overflow: hidden;
}

.header-filter {
    position: relative;
}

.page-header {
    height: 100vh;
    background-position: 50%;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}

*, :after, :before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fafafa;
}

.clear-filter:before {
    display: none;
}

.clear-filter:before {
    background: none;
}

.header-filter:before {
    background: rgba(0,0,0,.5);
}

*, :after, :before {
    box-sizing: border-box;
}


/* NAVBAR */
.index-page .navbar-transparent, .landing-page .navbar-transparent, .login-page .navbar-transparent, .presentation-page .navbar-transparent, .profile-page .navbar-transparent, .signup-page .navbar-transparent {
    padding-top: 25px;
}
.navbar.fixed-top {
    border-radius: 0;
}
.navbar {
    border: 0;
    border-radius: 3px;
    padding: .625rem 0;
    margin-bottom: 20px;
    color: #555;
    box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
}

.fixed-bottom, .fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.fixed-top {
    top: 0;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

#nav_socials {
    text-align: right;
    padding-top: 15px;
}

h2.title {
    text-align: center;
    font-weight: normal;
}

.buttonpr1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 0;
}

a.buttonpr1 {
    color: #fff;
}

a.buttonpr1:hover {
    color: #fff;
}

.buttonpr2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 1px solid #fff;
    border: none;
}

a.buttonpr2 {
    color: blue;
}

a.buttonpr2:hover {
    color: blue;
}

#about {
    height: 50vh;
    background-position: 50%;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    background: #fff;
}

.black {
    color: black;
}
.black:hover {
    color: black;
}
.white {
    color: white;
}
.white:hover {
    color: white;
}
.blue {
    color: blue;
}
.blue:hover {
    color: blue;
}

.centerize {
    display: flex;
    align-items: center;
}
.design-code.brand {
    align-items: center;
}
.design-code p {
    font-size: 16px;
}

.brand {
    align-items: center;
}

.row-no-margin {
    margin-left: 0px;
    margin-right: 0px;
 } 
 .no-padding {
    padding-left: 0px;
    padding-right: 0px;
 } 

 #team {
    background: #fff;
    color: #000;
    min-height: 120vh;
    display: flex;
    align-items: center;
    text-align: center;
 }
 .mb-4 {
    margin-bottom: 24px;
 }

 *, ::after, ::before {
    box-sizing: border-box;
}

#footer {
    height: 9vh;
    color: #a8bbc0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#footer p {
    font-size: 16px;
}

#footer img {
    -webkit-filter: contrast(25%); /* Safari 6.0 - 9.0 */
    filter: contrast(25%);
}

.contact {
    background: #005cfa;
    color: #fff;
}
.design-code {
    background: #005cfa
}


.navbar-color-on-scroll {
    background-color: #2d0101bf !important;
    transition: background-color 200ms linear;
}
.navbar-btn {
    background: transparent;
    border: none;
    outline:none;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    width: 0;
    height: 100%;
    margin-right: 0;
    overflow-y: auto;
    background: #005cfa;
}

.list-group-item {
    border: none;
    color: white;
    background: transparent;
}







/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .footer-images {
        text-align: right;
    }
}

@media only screen and (max-width: 768px) {
    #nav_socials {
        display: none;
    }
    .images {
        display: none;
    }
    .footer-images {
        text-align: center;
    }
    .navbar.container {
        width: 100%;
    }
    .contact-info {
        padding-left: 15px;
    }
    .mb-4 {
        padding: 0;
    }
}
@media only screen and (max-width: 992px) {
    #team {
        padding-top: 20px;
        padding-bottom: 100px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }